<div class="row p0 m0 small-size mb1">
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p0 prhalf pb1">
    <span class="bold-700 san-juan">Szakterület</span><br>
    <span><%= expertise %></span>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p0 prhalf pb1">
    <span class="bold-700 san-juan">Platform</span><br>
    <span><%= platform %></span>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p0 prhalf pb1">
    <span class="bold-700 san-juan">Átadott termék</span><br>
    <span><%= deliverables %></span>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 p0 pb1">
    <span class="bold-700 san-juan">Weboldal</span><br>
    <span><%= website %></span>
  </div>
</div>

<div class="row p0 m0 small-size mb2 bg-hawkes-blue">
  <div class="col-12 m0 p0 phalf">
    <h2 class="mt0 h3">Háttér</h2>
    <p><%= excerpt %></p>
  </div>
</div>