<div class="row p0 m0 small-size mb3">
  <div class="col-3 p0 prhalf">
    <span class="bold-700 san-juan">Expertise</span><br>
    <span><%= expertise %></span>
  </div>
  <div class="col-3 p0 prhalf">
    <span class="bold-700 san-juan">Platform</span><br>
    <span><%= platform %></span>
  </div>
  <div class="col-3 p0 prhalf">
    <span class="bold-700 san-juan">Deliverables</span><br>
    <span><%= deliverables %></span>
  </div>
  <div class="col-3 p0">
    <span class="bold-700 san-juan">Website</span><br>
    <span><%= website %></span>
  </div>
</div>

<div class="row p0 m0 small-size mb2 bg-hawkes-blue">

<h2 class="mt0 h3">Background</h2>
<p><%= excerpt %></p>
</div>