<footer>
  <div class="bg-dark-honeycombs">
    <div class="container-fluid pl0 pr0 ">
      <div class="row mx-responsive">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 p0 mt-62px">
          <a href="/" class="no-underline">
            <img class="logo m0 unselectable left mr-7px" src="/assets/images/logo.png" alt="UIfactory">
            <h3 class="m0 almost-white bold-700 mb-24px">UIfactory</h3>
          </a>
          <p class="m0 pb1 hawkes-blue expanded sans-serif ml0">Gul치csi Andr치s design portf칩li칩ja</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 p0 mt-62px">
          <a href="<%= linkedin %>" class="midnight-express btn btn-lg bg-hawkes-blue uppercase no-underline small-size bold-700 expanded mb1 linkedin-link mr-45px">LinkedIn</a>
          <a href="<%= email %>" class="almost-white btn btn-lg bg-torch-red uppercase no-underline small-size bold-700 expanded mb1 mr-45px">E-mail</a>
          <a href="<%= cv %>" class="almost-white btn btn-lg bg-torch-red uppercase no-underline small-size bold-700 expanded mb1">CV (PDF)</a>
        </div>
      </div>
      <div class="mx-responsive">
        <div class="col-lg-5 col-xl-4 p0">
          <p class="m0 mt1 pb1 min-size light italic hawkes-blue sans-serif expanded">&copy; <%= site.currentYear %> <%= site.author %>. Minden jog fenntartva.</h3>
        </div>
      </div>
    </div>
  </div>
</footer>
  