<footer>
  <div class="bg-dark-honeycombs pt3 m-pt2">
    <div class="container-fluid pl0 pr0">
      <div class="row mx-responsive p0 pbhalf mb1">
        <div class="col-sm-12 col-md-5 col-lg-5 p0 m0 pbhalf pthalf bg-hawkes-blue border-radius-0-7 align-center m-mb1">
            <a id="contact"></a>
          <h1 class="h3 mb1 mt1">More about me</h1>
          <p class="dark-steel-blue mbhalf min-size pr1 pl1">Now that you’ve seen the work, take a peak at what I’ve
            done outside of the nine to
            five.</p>
          <a href="/about.html"
            class="mt1 mb1 white btn bg-dark-pink uppercase no-underline min-size btn-text bold-700 expanded">About
            Me
          </a>
        </div>
        <div class="col-sm-12 col-md-6 offset-md-1 col-lg-6 offset-lg-1 col-xl-6 offset-xl-1 p0 pthalf pbhalf mt0 bg-dark-steel-blue border-radius-0-7 align-center">
          <h1 class="hawkes-blue h3 mt1 mb1">Contact me</h1>
          <ul class="white min-size no-bullets lh2 m0 mb1 pbhalf">
            <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" aria-labelledby="desc-email">
              <desc id="desc-email">Envelope icon</desc>
              <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"
                  fill="rgba(126,145,158,1)" /></svg>
              <a href="mailto:gulandras90@gmail.com" class="gray-link">gulandras90@gmail.com</a>
            </li>
            <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" role="img" aria-labelledby="desc-phone">
              <desc id="desc-phone">Phone icon</desc>
              <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M9.366 10.682a10.556 10.556 0 0 0 3.952 3.952l.884-1.238a1 1 0 0 1 1.294-.296 11.422 11.422 0 0 0 4.583 1.364 1 1 0 0 1 .921.997v4.462a1 1 0 0 1-.898.995c-.53.055-1.064.082-1.602.082C9.94 21 3 14.06 3 5.5c0-.538.027-1.072.082-1.602A1 1 0 0 1 4.077 3h4.462a1 1 0 0 1 .997.921A11.422 11.422 0 0 0 10.9 8.504a1 1 0 0 1-.296 1.294l-1.238.884zm-2.522-.657l1.9-1.357A13.41 13.41 0 0 1 7.647 5H5.01c-.006.166-.009.333-.009.5C5 12.956 11.044 19 18.5 19c.167 0 .334-.003.5-.01v-2.637a13.41 13.41 0 0 1-3.668-1.097l-1.357 1.9a12.442 12.442 0 0 1-1.588-.75l-.058-.033a12.556 12.556 0 0 1-4.702-4.702l-.033-.058a12.442 12.442 0 0 1-.75-1.588z"
                  fill="rgba(126,145,158,1)" /></svg>
              <a href="tel:+36204427225" class="gray-link">+36/20/442-7225</a>
            </li>
          </ul>


          <div class="m0 hawkes-blue small-size">
            <nav>
              <a href="<%= site.facebook %>" class="gray-link">
                <svg class="mrhalf" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                  role="img" aria-labelledby="title-facebook desc-facebook">
                  <title id="title-facebook">My Facebook Page</title>
                  <desc id="desc-facebook">Facebook logo, squared icon</desc>
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path class="svg-hover-item-white"
                    d="M14 19h5V5H5v14h7v-5h-2v-2h2v-1.654c0-1.337.14-1.822.4-2.311A2.726 2.726 0 0 1 13.536 6.9c.382-.205.857-.328 1.687-.381.329-.021.755.005 1.278.08v1.9H16c-.917 0-1.296.043-1.522.164a.727.727 0 0 0-.314.314c-.12.226-.164.45-.164 1.368V12h2.5l-.5 2h-2v5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z"
                    fill="#D7DAE1" />
                </svg></a>

              <a href="<%= site.behance %>" class="gray-link">
                <svg class="mrhalf" style="margin-left: 2px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                  width="24" height="24" role="img" aria-labelledby="title-behance desc-behance">
                  <title id="title-behance">My Béhance page</title>
                  <desc id="desc-behance">Béhance logo, icon with thin text strokes</desc>
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path class="svg-hover-item-white"
                    d="M7.5 11a2 2 0 1 0 0-4H3v4h4.5zm1 2H3v4h5.5a2 2 0 1 0 0-4zm2.063-1.428A4 4 0 0 1 8.5 19H1V5h6.5a4 4 0 0 1 3.063 6.572zM15.5 6H21v1.5h-5.5V6zm7.5 8.5h-7.5v.25A2.75 2.75 0 0 0 20.7 16h2.134a4.752 4.752 0 0 1-9.334-1.25v-1.5a4.75 4.75 0 1 1 9.5 0v1.25zm-2.104-2a2.751 2.751 0 0 0-5.292 0h5.292z"
                    fill="rgba(215,218,225,1)" />
                </svg></a>

              <a href="<%= site.linkedin %>" class="gray-link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" role="img"
                  aria-labelledby="title-linkedin desc-linkedin">
                  <title id="title-linkedin">My Linkedin page</title>
                  <desc id="desc-linkedin">Linkedin logo, squared icon</desc>
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path class="svg-hover-item-white"
                    d="M4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm1 2v14h14V5H5zm2.5 4a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-1 1h2v7.5h-2V10zm5.5.43c.584-.565 1.266-.93 2-.93 2.071 0 3.5 1.679 3.5 3.75v4.25h-2v-4.25a1.75 1.75 0 0 0-3.5 0v4.25h-2V10h2v.43z"
                    fill="rgba(215,218,225,1)" />
                </svg>
              </a>
          </div>
        </div>
      </div>
      <div class="row mx-responsive m0 p0 clearfix pb3 m-pb-2">
        <div class="col-6 p0 mt0">
          <nav class="float-left sans-serif" role="navigation">
            <a href="#work" class="min-size mr1 white-link pthalf no-underline">Work</a>
            <a href="/about.html" class="min-size white-link mr1 pthalf no-underline">About</a>
            <a href="#contact" class="min-size white-link pthalf no-underline">Contact</a>
          </nav>

        </div>
        <div class="col-6 p0 mt0">
          <p class="float-right mb0" style="font-size: 14px; color: #7E919E; padding-top: 8px;">&copy; <%= site.author %>
            <%= site.currentYear %>.</p>
        </div>
      </div>
    </div>
  </div>
</footer>