<footer>
  <div class="bg-dark-honeycombs">
    <div class="container-fluid pl0 pr0">
      <div class="row mx-responsive p0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 p0 mt1">
          <a id="kapcsolat"></a>
          <a href="/" class="no-underline">
            <img class="logo m0 unselectable left mr-7px m-ml0" style="margin-left: -37px" src="/assets/images/logo.png"
              alt="UIfactory">
            <h1 class="footer-title m0 almost-white bold-700 mbhalf">UIfactory</h1>
          </a>
          <p class="small-size mb1 m-mb-50px hawkes-blue">
            UI/UX designer-nek tanulok és munkát keresek UI és/vagy UX designer pozícióba. Folyamatosan fejlesztem
            magamat, az Udemy kurzusaiból tanulok és elvégeztem az UX Studio Digital Product Design tanfolyamát.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 offset-lg-1 offset-xl-1 p0 mt0">
          <img style="margin-top: 44px" class="border-full-white border-radius-0-7 m-mt0" src="/assets/images/gulacsi_andras_nevjegykartya.jpg"
            alt="A névjegykártyám">
        </div>
      </div>
      <div class="row mx-responsive p0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0 mt0">
          <section class="mt1">
            <div class="mb1 m-mb1 m-mt1">
              <a href="/#munkaim" class="bg-hawkes-blue btn midnight-express linkedin-link uppercase no-underline min-size btn-text bold-700 expanded mb1 mrhalf m-mrquarter">Munkáim
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                  <polyline points="18 15 12 9 6 15"></polyline>
                </svg></a>
              <a href="<%= site.cv %>" target="_blank" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1 mr1 m-mrquarter">Önéletrajz
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud">
                  <polyline points="8 17 12 21 16 17"></polyline>
                  <line x1="12" y1="12" x2="12" y2="21"></line>
                  <path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path>
                </svg></a>
              <a href="/blog.html" class="white btn bg-torch-red-2 uppercase no-underline min-size btn-text bold-700 expanded mb1 m-mrquarter">Blog
              </a>
            </div>
          </section>
        </div>
      </div>
      <div class="row mx-responsive">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 p0 mt0">
          <h2 class="h5 white mt0">Oldaltérkép</h2>
          <ul class="no-bullets m0 mb1 hawkes-blue small-size">
            <li><a href="/" class="gray-link">Főoldal</a></li>
            <li><a href="/hasznos-linkek.html" class="gray-link">Hasznos linkek</a></li>
            <li><a href="/blog.html" class="gray-link">Blog</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 col-xl-4 p0 mt0">
          <h2 class="h5 white mt0">Elérhetőségeim</h2>
          <ul class="no-bullets lh2 m0 mb1 hawkes-blue small-size">
            <li>gulandras90@gmail.com
            </li>
            <li>+36/20/442-7225</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-xl-3 offset-lg-1 p0 mt0">
          <h2 class="h5 white mt0">Közösség</h2>
          <ul class="no-bullets lh2 m0 hawkes-blue small-size">
            <li>
              <a href="<%= site.facebook %>" class="gray-link">
                <svg class="mrquarter" fill="#D7DAE1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M13,12.0043945 L11.1330566,12.0043945 L11.1330566,10.0043945 L13,10.0043945 L13,9 C13,7.34314575 14.3431458,6 16,6 L17,6 L17,8 L16,8 C15.4477153,8 15,8.44771525 15,9 L15,10.0043945 L16.9824219,10.0043945 L16.9824219,12.0043945 L15,12.0043945 L15,18 L13,18 L13,12.0043945 Z" />
                </svg>Facebook</a></li>
            <li>
              <a href="<%= site.behance %>" class="gray-link">
                <svg class="mrquarter" fill="#D7DAE1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M10.0631951,11.5724638 C11.2238614,12.2726251 12,13.5456741 12,15 C12,17.209139 10.209139,19 8,19 L2,19 L2,11 L2,5 L7,5 C9.209139,5 11,6.790861 11,9 C11,9.9796381 10.6478342,10.8770235 10.0631951,11.5724638 Z M4,13 L4,17 L8,17 C9.1045695,17 10,16.1045695 10,15 C10,13.8954305 9.1045695,13 8,13 L7,13 L4,13 Z M17.6378174,17 C18.6782995,17 19.3176926,16.7872212 19.6590408,16.4669813 C19.8388519,16.2982894 19.9138794,16.1105966 19.9138794,16 L21.9138794,16 C21.9138794,17.6272028 20.4505955,19 17.6378174,19 C14.854599,19 13,17.1958448 13,14 C13,11.0338939 14.5805115,9 17.5,9 C20.4194885,9 22,11.0338939 22,14 L22,15 L15.088601,15 C15.3601187,16.3771121 16.2475191,17 17.6378174,17 Z M19.91463,13 C19.66628,11.690232 18.8733357,11 17.5,11 C16.1266643,11 15.33372,11.690232 15.08537,13 L19.91463,13 Z M14,8 L14,6 L21,6 L21,8 L14,8 Z M4,7 L4,11 L7,11 C8.1045695,11 9,10.1045695 9,9 C9,7.8954305 8.1045695,7 7,7 L4,7 Z" />
                </svg>Béhance</a></li>
            <li>
              <a href="<%= site.linkedin %>" class="gray-link">
                <svg class="mrquarter" fill="#D7DAE1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill-rule="evenodd" d="M4,2 L20,2 C21.1045695,2 22,2.8954305 22,4 L22,20 C22,21.1045695 21.1045695,22 20,22 L4,22 C2.8954305,22 2,21.1045695 2,20 L2,4 C2,2.8954305 2.8954305,2 4,2 Z M4,4 L4,20 L20,20 L20,4 L4,4 Z M11.4521492,9.45214919 C11.935252,9.15825757 12.4822556,9 13,9 L14,9 C15.3939534,9 17,10.1471761 17,12 L17,16 L15,16 L15,12 C15,11.4242524 14.4060466,11 14,11 L13,11 C12.5939534,11 12,11.4242524 12,12 L12,16 L10,16 L10,9 L11,9 L11.4521492,9.45214919 Z M8,8 C7.44771525,8 7,7.55228475 7,7 C7,6.44771525 7.44771525,6 8,6 C8.55228475,6 9,6.44771525 9,7 C9,7.55228475 8.55228475,8 8,8 Z M9,16 L7,16 L7,9 L9,9 L9,16 Z" />
                </svg>LinkedIn</a></li>
          </ul>
        </div>
      </div>
      <div class="mx-responsive">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
          <p class="m0 mt2 pb1 min-size light hawkes-blue sans-serif">&copy;
            <%= site.author %>
            <%= site.currentYear %>. Minden jog fenntartva.
            <button type="button" class="min-size gray-link bg-none underline border-none no-shadow p0 mthalf"
              data-toggle="modal" data-target="#modalAdatvedelem2">Adatkezelési
              tájékoztató</button>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="modalAdatvedelem2" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p1">
        <h2 class="modal-title mt0" id="exampleModal">Adatkezelési tájékoztató<br><span class="small-size normal italic medium-gray mb2">Utolsó
            módosítás: 2019. szeptember 5.</span></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Bezárás">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p1">
        <p>Az UIfactory portfólió oldal adatkezelési tájékoztatójának kialakításakor a következő jogforrásokat vettem
          figyelembe:</p>
        <ul>
          <li class="mbhalf"><a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?qid=1532348683434&uri=CELEX:02016R0679-20160504"
              target="_blank">az
              Európai Parlament és a Tanács 2016/679 rendelete</a> (2016. április 27.) a természetes
            személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok
            szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről („GDPR”:
            „Általános Adatvédelmi Rendelet”)
          </li>
          <li class="mbhalf"><a href="https://net.jogtar.hu/jogszabaly?docid=A1100112.TV" target="_blank">2011. évi
              CXII.
              törvény</a> az
            információs önrendelkezési jogról és az információszabadságról (2011. július 26.)</li>
          <li><a href="https://mkogy.jogtar.hu/jogszabaly?docid=99200063.TV" target="_blank">1992. évi LXIII. törvény</a>
            a személyes adatok védelméről és a közérdekű adatok nyilvánosságáról
          </li>
        </ul>
        <h3>Fogalmak definíciója</h3>
        <p>A 2011. évi CXII. törvény 3. §-a alapján:</p>

        <ul>
          <li class="mbhalf"><b>Adatfeldolgozó:</b> az a természetes vagy jogi személy, illetve jogi
            személyiséggel nem
            rendelkező szervezet, aki vagy amely - törvényben vagy az Európai Unió kötelező jogi
            aktusában meghatározott keretek között és feltételekkel - az adatkezelő megbízásából vagy
            rendelkezése alapján személyes adatokat kezel.
          </li>
          <li class="mbhalf"><b>Adatkezelő:</b> az a természetes vagy jogi személy, illetve jogi
            személyiséggel nem
            rendelkező szervezet, aki vagy amely - törvényben vagy az Európai Unió kötelező jogi
            aktusában meghatározott keretek között - önállóan vagy másokkal együtt az adat kezelésének
            célját meghatározza, az adatkezelésre (beleértve a felhasznált eszközt) vonatkozó döntéseket
            meghozza és végrehajtja, vagy az adatfeldolgozóval végrehajtatja.
          </li>
          <li class="mbhalf"><b>Adatkezelés:</b> az alkalmazott eljárástól függetlenül az adaton végzett
            bármely művelet
            vagy a műveletek összessége, így különösen gyűjtése, felvétele, rögzítése, rendszerezése,
            tárolása, megváltoztatása, felhasználása, lekérdezése, továbbítása, nyilvánosságra hozatala,
            összehangolása vagy összekapcsolása, zárolása, törlése és megsemmisítése, valamint az adat
            további felhasználásának megakadályozása, fénykép-, hang- vagy képfelvétel készítése,
            valamint a személy azonosítására alkalmas fizikai jellemzők rögzítése.
          </li>
          <li class="mbhalf"><b>Adatvédelmi incidens:</b> az adatbiztonság olyan sérelme, amely a
            továbbított, tárolt
            vagy más módon kezelt személyes adatok véletlen vagy jogellenes megsemmisülését, elvesztését,
            módosulását, jogosulatlan továbbítását vagy nyilvánosságra hozatalát, vagy az azokhoz való
            jogosulatlan hozzáférést eredményezi.
          </li>
          <li class="mbhalf"><b>EGT-állam:</b> az Európai Unió tagállama és az Európai Gazdasági
            Térségről szóló
            megállapodásban részes más állam, továbbá az az állam, amelynek állampolgára az Európai Unió
            és tagállamai, valamint az Európai Gazdasági Térségről szóló megállapodásban nem részes állam
            között létrejött nemzetközi szerződés alapján az Európai Gazdasági Térségről szóló
            megállapodásban részes állam állampolgárával azonos jogállást élvez.
          </li>
          <li class="mbhalf"><b>Érintett:</b> bármely információ alapján azonosított vagy azonosítható
            természetes
            személy.
          </li>
          <li class="mbhalf"><b>Felügyeleti hatóság:</b> a Nemzeti Adatvédelmi és Információszabadság
            Hatóság (cím: 1125
            Budapest, Szilágyi Erzsébet fasor 22/C.; telefon: +36-1-391-1400; e-mail:
            ugyfelszolgalat@naih.hu; honlap: www.naih.hu)
          </li>
          <li class="mbhalf"><b>Harmadik ország:</b> minden olyan állam, amely nem EGT-állam.
          </li>
          <li class="mbhalf"><b>Harmadik személy:</b> olyan természetes vagy jogi személy, illetve jogi
            személyiséggel
            nem rendelkező szervezet, aki vagy amely nem azonos az érintettel, az adatkezelővel, az
            adatfeldolgozóval vagy azokkal a személyekkel, akik az adatkezelő vagy adatfeldolgozó
            közvetlen irányítása alatt a személyes adatok kezelésére irányuló műveleteket végeznek.
          </li>
          <li class="mbhalf"><b>Közvetett adattovábbítás:</b> személyes adatnak valamely harmadik
            országban vagy
            nemzetközi szervezet keretében adatkezelést folytató adatkezelő vagy adatfeldolgozó részére
            továbbítása útján valamely más harmadik országban vagy nemzetközi szervezet keretében
            adatkezelést folytató adatkezelő vagy adatfeldolgozó részére történő továbbítása.
          </li>
          <li><b>Személyes adat:</b> az érintettre vonatkozó bármely információ.
          </li>
        </ul>

        <h3>Az Adatkezelő adatai</h3>
        <p>Az itt megadott e-mail címen keresztül léphet kapcsolatba velem.</p>
        <ul class="no-bullets">
          <li><b>Név:</b> Gulácsi András</li>
          <li><b>E-mail:</b> guland (kukac) protonmail.com</li>
        </ul>

        <h3>A kezelt személyes adatok köre</h3>

        <p>Egyelőre nincs ilyen adat.</p>

        <h3>Cookie-k (sütik)</h3>
        <p>A HTTP-sütik (általában egyszerűen süti, illetve angolul cookie) kisméretű fájlok, amelyek az
          Ön által használt számítógépre vagy egyéb eszközre töltődnek le egy webszerverről. A sütik
          információkat gyűjtenek a látogatókról és eszközeikről; megjegyzik a látogatók egyéni
          beállításait, amelyek felhasználásra kerül(het)nek.</p>

        <p>A cookie beállításokat a honlap alján felugró sávban találja meg, ahol a saját belátása
          szerint engedélyezheti azokat. A GDPR rendelkezéseinek értelmében, alapértelmezetten az összes
          cookie ki van kapcsolva. Utána Ön eldöntheti, hogy elfogadja vagy elutasítja a jelen
          adatvédelmi tájékoztatót. Más teendője nincsen ezzel kapcsolatban.</p>

        <h4>Saját sütik</h4>
        <p>A honlap nem használ saját sütiket.</p>

        <h4>Harmadik féltől származó sütik</h4>

        <h5>Google Analytics</h5>
        <p>A Google Analytics statisztikai célú szolgáltatás használatával az xy.hu információkat gyűjt
          azzal kapcsolatban, hogy a látogatók hogyan használják a weboldalt. Az adatot a honlap
          fejlesztésének és a felhasználói élmény javításának céljával használja fel. Ezen sütik szintén
          lejáratukig a látogató számítógépén vagy böngészésre használt más eszközén, annak böngészőjében
          maradnak, illetve amíg a látogató nem törli őket.</p>
        <p>A sütikben rögzített, weboldal látogatottságára vonatkozó adatok (a látogatás időpontjával és
          az Ön IP címével együtt) a Google szervereire kerülnek átvitelre és letárolásra. A Google arra
          használja ezeket az adatokat, hogy az Ön honlap-látogatási szokásait kiértékelje, jelentéseket
          állítson össze ezekről az adatkezelő számára. Ezek a sütik nem tudják Önt személy szerint
          beazonosítani.</p>

        <h3>Az Adatfeldolgozók adatai</h3>
        <p>Az adatkezelő tevékenysége keretében az alábbi adatfeldolgozókat veszi igénybe:</p>
        <h4>Tárhelyszolgáltató és felhő alapú szolgáltatásplatform</h4>

        <ul class="no-bullets mr0">
          <li><b>Netlify, Inc.</b></li>
          <li>Cím: 2325 3rd Street, Suite 215, San Francisco, California 94107</li>
          <li>E-mail: <a href="mailto:support@netlify.com">support@netlify.com</a></li>
          <li>Weboldal: <a href="https://www.netlify.com/" target="_blank">https://www.netlify.com/</a></li>
          <li>Adatkezelési tájékoztató: <a href="https://www.netlify.com/privacy/" target="_blank">https://www.netlify.com/privacy/</a></li>
          <li>GDPR: <a href="https://www.netlify.com/gdpr/" target="_blank">https://www.netlify.com/gdpr/</a></li>
          <li>Biztonság: <a href="https://www.netlify.com/security/" target="_blank">https://www.netlify.com/security/</a></li>
        </ul>

        <h4>Google Analytics - analitika</h4>
        <ul class="no-bullets mr0">
          <li>Google Inc., Mountain View, California, USA</li>
          <li>Adatvédelmi irányelvek: <a href="https://policies.google.com/privacy?hl=hu" target="_blank">https://policies.google.com/privacy?hl=hu</a></li>
        </ul>

        <h3>Adattovábbítás harmadik országba</h3>
        <p>Adattovábbítás az Amerikai Egyesült Államokba történik, mellyel <a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/eu-us-privacy-shield_en"
            target="_blank">megfelelőségi
            határozat született 2016. július 12-én.</a></p>
        <p>A megfelelőségi határozat a <a href="https://policies.google.com/privacy/frameworks" target="_blank">Google
            esetében is érvényes.</a></p>
        <p>A Google Adatvédelmi Irányelvei 2019. január 22-én megváltoztak, hogy a cég könnyebben
          megfeleljen a GDPR rendelkezéseinek, az EGT-államok esetén:</p>
        <blockquote>“Az Európai Gazdasági Térségben vagy Svájcban tartózkodó felhasználók esetében a
          személyes adataiért felelős adatkezelő a Google Ireland Limited, kivéve, ha valamely
          szolgáltatásra vonatkozó külön adatvédelmi tájékoztató erről másként rendelkezik. Tehát a
          Google vállalatok közül a Google Ireland Limited felelős a személyes adatainak kezeléséért,
          valamint a vonatkozó adatvédelmi jogszabályok betartásáért.”</blockquote>

        <h3>Az Érintettek jogai</h3>
        <p>A GDPR hatálya alá tartozó esetekben az alábbi jogok illetik meg Önt: </p>

        <ol>
          <li>a hozzáféréshez való jog,</li>
          <li>a helyesbítéshez való jog,</li>
          <li>a törléshez való jog,</li>
          <li>az elfeledtetéshez való jog,</li>
          <li>az adatkezelés korlátozásához való jog,</li>
          <li>az adathordozhatósághoz való jog,</li>
          <li>a tiltakozáshoz való jog,</li>
          <li>a panaszhoz való jog.</li>
        </ol>

        <ol>
          <li class="mbhalf"><b>A hozzáféréshez való jog:</b> Ön jogosult arra, hogy az adatkezelőtől
            visszajelzést kapjon arra
            vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, és ha ilyen adatkezelés
            folyamatban van, jogosult arra, hogy a személyes adatokhoz és a rendeletben felsorolt
            információkhoz hozzáférést kapjon.</li>
          <li class="mbhalf"><b>A helyesbítéshez való jog:</b> Ön jogosult arra, hogy kérésére az
            adatkezelő indokolatlan
            késedelem nélkül helyesbítse a rá vonatkozó pontatlan személyes adatokat. Figyelembe véve az
            adatkezelés célját, Ön jogosult arra, hogy kérje a hiányos személyes adatok – egyebek mellett
            kiegészítő nyilatkozat útján történő – kiegészítését.</li>
          <li class="mbhalf"><b>A törléshez való jog:</b> Ön jogosult arra, hogy kérésére az adatkezelő
            indokolatlan késedelem
            nélkül törölje a rá vonatkozó személyes adatokat, az adatkezelő pedig köteles arra, hogy Önre
            vonatkozó személyes adatokat indokolatlan késedelem nélkül törölje meghatározott feltételek
            esetén.</li>
          <li class="mbhalf"><b>Az elfeledtetéshez való jog:</b> Ha az adatkezelő nyilvánosságra hozta a
            személyes adatot, és
            azt törölni köteles, az elérhető technológia és a megvalósítás költségeinek
            figyelembevételével megteszi az ésszerűen elvárható lépéseket – ideértve technikai
            intézkedéseket – annak érdekében, hogy tájékoztassa az adatokat kezelő adatkezelőket, hogy Ön
            kérelmezte a szóban forgó személyes adatokra mutató linkek vagy e személyes adatok
            másolatának, illetve másodpéldányának törlését.</li>
          <li class="mbhalf"><b>Az adatkezelés korlátozásához való jog:</b> Ön jogosult arra, hogy
            kérésére az adatkezelő
            korlátozza az adatkezelést, ha az alábbi feltételek valamelyike teljesül: </li>
          <li class="mbhalf"><b>Az adatkezelés korlátozásához való jog:</b> Ön jogosult arra, hogy
            kérésére az adatkezelő
            korlátozza az adatkezelést, ha az alábbi feltételek valamelyike teljesül:
            <ol type="a">
              <li>Ön vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az időtartamra
                vonatkozik, amely lehetővé teszi, hogy az adatkezelő ellenőrizze a személyes adatok
                pontosságát;</li>
              <li>az adatkezelés jogellenes, és Ön ellenzi az adatok törlését, és ehelyett kéri azok
                felhasználásának korlátozását;</li>
              <li>az adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de Ön
                igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez;</li>
              <li>Ön tiltakozott az adatkezelés ellen; ez esetben a korlátozás arra az időtartamra
                vonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő jogos indokai elsőbbséget
                élveznek-e Ön jogos indokaival szemben.</li>
            </ol>
          </li>
          <li class="mbhalf"><b>Az adathordozhatósághoz való jog:</b> Ön jogosult arra, hogy a rá
            vonatkozó, általa egy
            adatkezelő rendelkezésére bocsátott személyes adatokat tagolt, széles körben használt, géppel
            olvasható formátumban megkapja, továbbá jogosult arra, hogy ezeket az adatokat egy másik
            adatkezelőnek továbbítsa anélkül, hogy ezt akadályozná az az adatkezelő, amelynek a személyes
            adatokat a rendelkezésére bocsátotta (…)</li>
          <li class="mbhalf"><b>A tiltakozáshoz való jog:</b> Ön jogosult arra, hogy a saját helyzetével
            kapcsolatos okokból
            bármikor tiltakozzon személyes adatainak a (…) kezelése ellen, ideértve az említett
            rendelkezéseken alapuló profilalkotást is.</li>
          <li class="mbhalf"><b>Panaszhoz való jog:</b> Az érintett az adatkezeléssel kapcsolatos
            panaszával közvetlenül a
            Nemzeti Adatvédelmi és Információszabadság Hatósághoz (cím: 1125 Budapest, Szilágyi Erzsébet
            fasor 22/C.; telefon: +36-1-391-1400; e-mail: ugyfelszolgalat@naih.hu; honlap: www.naih.hu)
            fordulhat. Az érintett jogainak megsértése esetén bírósághoz fordulhat. A per elbírálása a
            törvényszék hatáskörébe tartozik. A per – az érintett választása szerint – az érintett
            lakóhelye vagy tartózkodási helye szerinti törvényszék előtt is megindítható. Az adatkezelő
            kérésre az érintettet tájékoztatja a jogorvoslat lehetőségéről és eszközeiről.</li>
        </ol>

        <h3>Egyéb rendelkezések</h3>
        <p>A jelen adatkezelési tájékoztatót az adatkezelő bármikor saját belátása szerint módosíthatja,
          illetve kiegészítheti. Az adatkezelési tájékoztató módosításával egyidejűleg az oldal tetején
          látható „Utolsó módosítás” időpontja is frissítésre kerül. A módosított adatkezelési
          tájékoztató ettől az időponttól lesz érvényes Önre és az Ön adataira nézve.</p>
      </div>
      <div class="modal-footer p1">
        <button type="button" class="btn btn-lg small-size bold-700 uppercase midnight-express bg-hawkes-blue linkedin-link expanded no-underline"
          data-dismiss="modal">Bezárás</button>
      </div>
    </div>
  </div>
</div>