<div class="row mt2 m-mt1">
  <div class="col-12 p0">
    <div class="align-center">
      <img class="mx-auto mt0 mb1" style="width: 219px; height: auto;" src="/assets/images/under-construction-gray.jpg"
        alt="Under construction roadblock illustration">
      <h1 class="h2 mb0">Currently, I am working on my about page.</h1>
      <a href="\"
        class="mt1 mb3 m-mb2 white btn bg-light-pink uppercase no-underline min-size btn-text bold-700 expanded"
        role="button">Go Back to Safety</a>
    </div>
  </div>
</div>


<div class="row mx-auto m0 p0">
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 p0 pr1">
    <div class="m-mx-16px bg-almost-white phalf">
      <h2 class="h3 mt0">Useful Stuff</h2>
      <ul class="no-bullets mb2">
        <li><a href="/hasznos-linkek.html" class="small-size black-link">UI design resources and tools</a></li>
      </ul>
      <h2 class="h3 mt0 mb1">UIfactory Blog</h2>
      <div class="mb2">
        <% for (var i = 0; i < blogArchive.length; i++) { %>
        <h3 class="h4 mt0 mbhalf medium-orange expanded">
          <%= blogArchive[i].year %>
        </h3>
        <ul class="no-bullets mb0">
          <% if (blogArchive[i].months.dec) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">December</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].dec) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].dec.link %>">
                  <%= blogArchive[i].articles[j].dec.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>
          <% if (blogArchive[i].months.nov) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">November</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].nov) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].nov.link %>">
                  <%= blogArchive[i].articles[j].nov.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.oct) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">October</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].oct) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].oct.link %>">
                  <%= blogArchive[i].articles[j].oct.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.sep) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">September</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].sep) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].sep.link %>">
                  <%= blogArchive[i].articles[j].sep.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.aug) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">August</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].aug) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].aug.link %>">
                  <%= blogArchive[i].articles[j].aug.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.jul) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">July</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].jul) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].jul.link %>">
                  <%= blogArchive[i].articles[j].jul.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.jun) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">June</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].jun) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].jun.link %>">
                  <%= blogArchive[i].articles[j].jun.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.may) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">May</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].may) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].may.link %>">
                  <%= blogArchive[i].articles[j].may.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.apr) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">April</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].apr) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].apr.link %>">
                  <%= blogArchive[i].articles[j].apr.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.mar) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">March</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].mar) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].mar.link %>">
                  <%= blogArchive[i].articles[j].mar.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.feb) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">February</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].feb) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].feb.link %>">
                  <%= blogArchive[i].articles[j].feb.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.jan) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">January</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].jan) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].jan.link %>">
                  <%= blogArchive[i].articles[j].jan.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-6 p0 m-mx-16px">
    <p>Besides learning to become a successful UI/UX designer, I am an environmental scientist and a kizomba/semba
      dancer/dance
      instructor.</p>
    <p>I started my journey in 2016 when I realized that when I went to university I was and naive and young to think
      that I have a future there. It was a mistake for me to ever trying these fields I choose (geography). I am trying
      to fix it since then. Currently I am a PhD student by necessity.</p>
    <p>So, in 2016 I started learning front-end development on my own on the internet. I learned HTML, CSS and
      JavaScript first. Previously, I had experience with the C language, which I used for working with some satellite
      data. And used some batch scripts too. After HTML/CSS/JS, I started with Node.js, also got some SQL database
      knowledge.</p>
    <p>Now, I am using Node for my own static site generator which also powers this very page. My website is hosted on
      the Netlify cloud platform service. I am big fun of JAMstack (JavaScript, APIs and Markup). In addition, I have
      some Angular 2 knowledge which I might need to boost up in the future.</p>
    <p>In addition, I have lots of experience with the JavaScript API of the Google Earth Engine cloud platform for
      satellite data
      processing and environmental monitoring as part of <a
        href="https://www.newgeographer.com/2019/11/11/google-earth-engine-kurzus-2-resz">my work</a> as a PhD student.
    </p>
    <p>User experience / user interface design come into my life in early 2018. In autumn 2018, I successfully completed
      a <a href="https://uxstudioteam.com/ux-tanfolyam/">Digital Product Design course</a> held by UXstudio in Budapest.
      I was happy and satisfied with it. I am learning
      from the UI/UX design and other courses at Udemy platform which I found very effectice at affordable prices.</p>
    <p>I am struggling since then to create an astonishing portfolio website with some valuable case studies. I am
      working on them now.</p>

    <p>I want your help to change this situation to be a part of valuable ventures to contribute, to build digital
      things (everything with a screen basically) that are usable, represent real value for the users and profitable.</p>
  </div>
</div>