<div class="m-mx-18px">
  <a id="munkaim"></a>
  <h1 class="mt3 m-mt2 mb2">Blogbejegyzések</h1>
  <div class="mb2">
    <% for (var i = 0; i < blogArchive.length; i++) { %>
    <h2 class="mt0 mbhalf medium-orange expanded">
      <%= blogArchive[i].year %>
    </h2>
    <ul class="no-bullets mb0">
      <% if (blogArchive[i].months.dec) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">december</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].dec) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].dec.link %>">
              <%= blogArchive[i].articles[j].dec.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>
      <% if (blogArchive[i].months.nov) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">november</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].nov) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].nov.link %>">
              <%= blogArchive[i].articles[j].nov.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.oct) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">október</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].oct) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].oct.link %>">
              <%= blogArchive[i].articles[j].oct.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.sep) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">szeptember</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].sep) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].sep.link %>">
              <%= blogArchive[i].articles[j].sep.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.aug) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">augusztus</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].aug) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].aug.link %>">
              <%= blogArchive[i].articles[j].aug.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.jul) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">július</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].jul) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].jul.link %>">
              <%= blogArchive[i].articles[j].jul.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.jun) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">június</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].jun) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].jun.link %>">
              <%= blogArchive[i].articles[j].jun.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.may) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">május</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].may) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].may.link %>">
              <%= blogArchive[i].articles[j].may.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.apr) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">április</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].apr) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].apr.link %>">
              <%= blogArchive[i].articles[j].apr.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.mar) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">március</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].mar) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].mar.link %>">
              <%= blogArchive[i].articles[j].mar.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.feb) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">február</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].feb) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].feb.link %>">
              <%= blogArchive[i].articles[j].feb.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>

      <% if (blogArchive[i].months.jan) { %>
      <li>
        <h5 class="mt1 mb0 medium-gray normal">január</h5>
        <ul class="no-bullets mthalf mb2">
          <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
          <% if (blogArchive[i].articles[j].jan) { %>
          <li class="mbhalf">
            <a class="fs-22 black-link" href="<%= blogArchive[i].articles[j].jan.link %>">
              <%= blogArchive[i].articles[j].jan.title %>
            </a>
          </li>
          <% } %>
          <% } %>
        </ul>
      </li>
      <% } %>
    </ul>
    <% } %>
  </div>
</div>
