<div class="m-mx-16px">
  <h1 class="mt3 m-mt2">Design hírek a világból</h1>
  <hr>
  <p class="mt1 mb2">Az UI/UX designnal és a fejlesztéssel kapcsolatos híreket gyűjtöm össze itt. Nem teljes körű a
    lista,
    inkább csak a számomra értékesnek talált cikkeket adom hozzá.</p>

  <% for (var i = 0; i < newsDataForNewsPage.length; i++) { %>
  <article>
    <span class="gray-3 small-size sans-serif bold-600"><%= newsDataForNewsPage[i].dateFormatted %></span>
    <h2 class="mt0"><a href="<%= newsDataForNewsPage[i].url %>"
        rel="noreferrer noopener"><%= newsDataForNewsPage[i].title %></a></h2>
    <div>
      <%- newsDataForNewsPage[i].postContents %>
    </div>
    <span class="gray-3 mb0 pb0 small-size sans-serif">Témakör: <%= newsDataForNewsPage[i].topic %></span>
  </article>
  <% if (i < newsDataForNewsPage.length - 1) { %>
  <hr class="mb2 mt2 light-hr">
  <% } %>
  <% } %>
