<div class="m-mx-16px">
  <section>
    <h1 class="mt3 m-mt2">Design cikkek, videók a világból</h1>
    <hr>
    <p class="mt1 mb2">Az UI/UX designnal és a fejlesztéssel kapcsolatos cikkeket és videókat gyűjtöm össze itt. Nem teljes körű a
      lista,
      inkább csak a számomra értékesnek talált cikkeket és videókat adom hozzá.</p>

    <% for (var i = 0; i < newsDataForNewsPage.length; i++) { %>
    <article>
      <span class="gray-3 small-size sans-serif bold-600"><%= newsDataForNewsPage[i].dateFormatted %></span>
      <h2 class="mt0"><a href="<%= newsDataForNewsPage[i].url %>"
          rel="noreferrer noopener"><%= newsDataForNewsPage[i].title %></a></h2>
      <div>
        <%- newsDataForNewsPage[i].postContents %>
      </div>
      <span class="gray-3 mb0 pb0 small-size sans-serif">Témakör:
        <% for (var j = 0; j < newsDataForNewsPage[i].topic.length; j++) { %>
        <% if ( j < newsDataForNewsPage[i].topic.length - 1) { %>
        <span><%= newsDataForNewsPage[i].topic[j] %>, </span>
        <% } else { %>
        <span><%= newsDataForNewsPage[i].topic[j] %></span>
        <% } %>
        <% } %>
      </span>
    </article>
    <% if (i < newsDataForNewsPage.length - 1) { %>
    <hr class="mb2 mt2 light-hr">
    <% } %>
    <% } %>
  </section>

  <section>
    <h1 class="h3 mt3">Témakörök szerint</h1>
    <h2 class="h4">Design cikkek</h2>
    <% var found = 0; %>
    <ul>
      <% for (var i = 0; i < newsDataForNewsPage.length; i++) { %>
      <% for (var j = 0; j < newsDataForNewsPage[i].topic.length; j++) { %>
      <% if (newsDataForNewsPage[i].topic[j] === 'design') { %>
      <% found = 1; %>
      <% } %>
      <% } %>
      <% if (found === 1) { %>
      <li>
        <a href="<%= newsDataForNewsPage[i].url %>" rel="noreferrer noopener" target="_blank"><%= newsDataForNewsPage[i].title %></a>
      </li>
      <% found = 0 %>
      <% } %>
      <% } %>
    </ul>

    <h2 class="h4">Marketing cikkek</h2>
    <% var found = 0; %>
    <ul>
      <% for (var i = 0; i < newsDataForNewsPage.length; i++) { %>
      <% for (var j = 0; j < newsDataForNewsPage[i].topic.length; j++) { %>
      <% if (newsDataForNewsPage[i].topic[j] === 'marketing') { %>
      <% found = 1; %>
      <% } %>
      <% } %>
      <% if (found === 1) { %>
      <li>
        <a href="<%= newsDataForNewsPage[i].url %>" rel="noreferrer noopener" target="_blank"><%= newsDataForNewsPage[i].title %></a>
      </li>
      <% found = 0 %>
      <% } %>
      <% } %>
    </ul>

    <h2 class="h4">Webfejlesztés cikkek</h2>
    <% var found = 0; %>
    <ul>
      <% for (var i = 0; i < newsDataForNewsPage.length; i++) { %>
      <% for (var j = 0; j < newsDataForNewsPage[i].topic.length; j++) { %>
      <% if (newsDataForNewsPage[i].topic[j] === 'webfejlesztés') { %>
      <% found = 1; %>
      <% } %>
      <% } %>
      <% if (found === 1) { %>
      <li>
        <a href="<%= newsDataForNewsPage[i].url %>" rel="noreferrer noopener" target="_blank"><%= newsDataForNewsPage[i].title %></a>
      </li>
      <% found = 0 %>
      <% } %>
      <% } %>
    </ul>

    <h2 class="h4">Redesign videók</h2>
    <% var found = 0; %>
    <ul>
      <% for (var i = 0; i < newsDataForNewsPage.length; i++) { %>
      <% for (var j = 0; j < newsDataForNewsPage[i].topic.length; j++) { %>
      <% if (newsDataForNewsPage[i].topic[j] === 're-design videó') { %>
      <% found = 1; %>
      <% } %>
      <% } %>
      <% if (found === 1) { %>
      <li>
        <a href="<%= newsDataForNewsPage[i].url %>" rel="noreferrer noopener" target="_blank"><%= newsDataForNewsPage[i].title %></a>
      </li>
      <% found = 0 %>
      <% } %>
      <% } %>
    </ul>

  </section>
</div>