<div class="container-fluid p0 m0">
  <div class="row mx-responsive p0 m-mx-0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 mo mt0 p0">
      <div class="m-mx-18px">
        <a id="munkaim"></a>
        <h2 class="uppercase mt3 mbhalf">A munkáim</h2>
        <ul class="nav nav-pills mb2 mt0" id="pills-tab" role="tablist">
          <li class="nav-item mrquarter mbhalf">
            <a class="nav-link active sans-serif uppercase extra-small no-underline border-gray bg-hawkes-blue" id="pills-all-tab"
              data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">Összes</a>
          </li>
          <li class="nav-item mrquarter mbhalf">
            <a class="nav-link sans-serif uppercase extra-small no-underline border-gray bg-hawkes-blue" id="pills-website-tab"
              data-toggle="pill" href="#pills-website" role="tab" aria-controls="pills-website" aria-selected="false">Honlap</a>
          </li>
          <li class="nav-item mrquarter mbhalf">
            <a class="nav-link sans-serif uppercase extra-small no-underline border-gray bg-hawkes-blue" id="pills-dashboard-tab"
              data-toggle="pill" href="#pills-dashboard" role="tab" aria-controls="pills-dashboard" aria-selected="false">Vezérlőpult</a>
          </li>
          <li class="nav-item mrquarter mbhalf">
            <a class="nav-link sans-serif uppercase extra-small no-underline border-gray bg-hawkes-blue" id="pills-businesscard-tab"
              data-toggle="pill" href="#pills-businesscard" role="tab" aria-controls="pills-businesscard" aria-selected="false">Névjegykártya</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sans-serif uppercase extra-small no-underline border-gray bg-hawkes-blue" id="pills-drawing-tab"
              data-toggle="pill" href="#pills-drawing" role="tab" aria-controls="pills-drawing" aria-selected="false">Rajz</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
          <% for (var i = 0; i < postsDataForIndexPage.length; i++) { %>
          <% if (postsDataForIndexPage[i].type !== 'blog') { %>
          <section class="design-item mb2">
            <div class="row p0 m0">
              <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 bg-light-gray border-shadow border-gray-4 plhalf prhalf pbhalf">
                <h3 class="mb1 mthalf"><a href="<%= postsDataForIndexPage[i].pathToPost %>">
                    <%= postsDataForIndexPage[i].title %></a>
                  <% if (postsDataForIndexPage[i].type === 'website') { %>
                  <span class="badge badge-secondary white min-size normal">honlap</span>
                  <% } else if (postsDataForIndexPage[i].type === 'dashboard') { %>
                  <span class="badge badge-secondary white min-size normal">vezérlőpult</span>
                  <% } else if (postsDataForIndexPage[i].type === 'bc') { %>
                  <span class="badge badge-secondary white min-size normal">névjegykártya</span>
                  <% } else if (postsDataForIndexPage[i].type === 'drawing') { %>
                  <span class="badge badge-secondary white min-size normal">rajz</span>
                  <% } else { %>
                  <span class="badge badge-secondary white min-size normal">
                    <%= postsDataForIndexPage[i].type %></span>
                  <% } %>
                </h3>
                <p class="mbhalf">
                  <%= postsDataForIndexPage[i].excerpt %>
                </p>
                <a href="<%= postsDataForIndexPage[i].pathToPost %>">
                  <img class="pl0 m0 thumbnail-img" src="/assets/images/design/<%= postsDataForIndexPage[i].thumbnail %>"
                    alt="<%= postsDataForIndexPage[i].title %>">
                </a>
              </div>
            </div>
          </section>
          <% } %>
          <% } %>
        </div>
        <div class="tab-pane fade" id="pills-website" role="tabpanel" aria-labelledby="pills-website-tab">
          <% for (var i = 0; i < postsDataForIndexPage.length; i++) { %>
          <% if (postsDataForIndexPage[i].type === 'website') { %>
          <section class="design-item mb2">
            <div class="row p0 m0">
              <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 bg-light-gray border-shadow border-gray-4 plhalf prhalf pbhalf">
                <h3 class="mb1 mthalf"><a href="<%= postsDataForIndexPage[i].pathToPost %>">
                    <%= postsDataForIndexPage[i].title %></a>
                  <span class="badge badge-secondary white min-size normal">honlap</span>
                </h3>
                <p class="mbhalf">
                  <%= postsDataForIndexPage[i].excerpt %>
                </p>
                <a href="<%= postsDataForIndexPage[i].pathToPost %>">
                  <img class="pl0 m0 thumbnail-img" src="/assets/images/design/<%= postsDataForIndexPage[i].thumbnail %>"
                    alt="<%= postsDataForIndexPage[i].title %>">
                </a>
              </div>
            </div>
          </section>
          <% } %>
          <% } %>
        </div>
        <div class="tab-pane fade" id="pills-dashboard" role="tabpanel" aria-labelledby="pills-dashboard-tab">
          <% for (var i = 0, count = 0; i < postsDataForIndexPage.length; i++) { %>
          <% if (postsDataForIndexPage[i].type === 'dashboard') { %>
          <section class="design-item mb2">
            <div class="row p0 m0">
              <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 bg-light-gray border-shadow border-gray-4 plhalf prhalf pbhalf">
                <h3 class="mb1 mthalf"><a href="<%= postsDataForIndexPage[i].pathToPost %>">
                    <%= postsDataForIndexPage[i].title %></a>
                  <span class="badge badge-secondary white min-size normal">vezérlőpult</span>
                </h3>
                <p class="mbhalf">
                  <%= postsDataForIndexPage[i].excerpt %>
                </p>
                <a href="<%= postsDataForIndexPage[i].pathToPost %>">
                  <img class="pl0 m0 thumbnail-img" src="/assets/images/design/<%= postsDataForIndexPage[i].thumbnail %>"
                    alt="<%= postsDataForIndexPage[i].title %>">
                </a>
              </div>
            </div>
          </section>
          <% count = count + 1; %>
          <% } %>
          <% } %>
          <% if (count === 0) { %>
          <p class="mb2 m-mxhalf">Még nincs feltöltve design ebből a kategóriából. :(</p>
          <% } %>
        </div>
        <div class="tab-pane fade" id="pills-businesscard" role="tabpanel" aria-labelledby="pills-businesscard-tab">
          <% for (var i = 0, count = 0; i < postsDataForIndexPage.length; i++) { %>
          <% if (postsDataForIndexPage[i].type === 'bc') { %>
          <section class="design-item mb2">
            <div class="row p0 m0">
              <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 bg-light-gray border-shadow border-gray-4 plhalf prhalf pbhalf">
                <h3 class="mb1 mthalf"><a href="<%= postsDataForIndexPage[i].pathToPost %>">
                    <%= postsDataForIndexPage[i].title %></a>
                  <span class="badge badge-secondary white min-size normal">névjegykártya</span>
                </h3>
                <p class="mbhalf">
                  <%= postsDataForIndexPage[i].excerpt %>
                </p>
                <a href="<%= postsDataForIndexPage[i].pathToPost %>">
                  <img class="pl0 m0 thumbnail-img" src="/assets/images/design/<%= postsDataForIndexPage[i].thumbnail %>"
                    alt="<%= postsDataForIndexPage[i].title %>">
                </a>
              </div>
            </div>
          </section>
          <% count = count + 1; %>
          <% } %>
          <% } %>
          <% if (count === 0) { %>
          <p class="mb2 m-mxhalf">Még nincs feltöltve design ebből a kategóriából. :(</p>
          <% } %>
        </div>
        <div class="tab-pane fade" id="pills-drawing" role="tabpanel" aria-labelledby="pills-drawing-tab">
          <% for (var i = 0, count = 0; i < postsDataForIndexPage.length; i++) { %>
          <% if (postsDataForIndexPage[i].type === 'drawing') { %>
          <section class="design-item mb2">
            <div class="row p0 m0">
              <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-xl-11 bg-light-gray border-shadow border-gray-4 plhalf prhalf pbhalf">
                <h3 class="mb1 mthalf"><a href="<%= postsDataForIndexPage[i].pathToPost %>">
                    <%= postsDataForIndexPage[i].title %></a>
                  <span class="badge badge-secondary white min-size normal">rajz</span>
                </h3>
                <p class="mbhalf">
                  <%= postsDataForIndexPage[i].excerpt %>
                </p>
                <a href="<%= postsDataForIndexPage[i].pathToPost %>">
                  <img class="pl0 m0 thumbnail-img" src="/assets/images/design/<%= postsDataForIndexPage[i].thumbnail %>"
                    alt="<%= postsDataForIndexPage[i].title %>">
                </a>
              </div>
            </div>
          </section>
          <% count = count + 1; %>
          <% } %>
          <% } %>
          <% if (count === 0) { %>
          <p class="mb2 m-mxhalf">Még nincs feltöltve design ebből a kategóriából. :(</p>
          <% } %>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb2 m-mb0 p0 m-mt1" style="margin-top: 278px">
      <div class="bg-light-gray border-light-gray2 pl1">
        <h2 class="small-size black uppercase mthalf bold-700">Képességeim</h2>
        <ul class="no-bullets m0 p0 sans-serif">
          <li class="pbhalf">
            <span class="small-size">UI Design</span>
            <div class="bg-hawkes-blue level-bar-outer mt-4px">
              <div class="bg-light-pink level-bar-inner135"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">Rajz, prototípus</span>
            <div class="bg-hawkes-blue level-bar-outer mt-4px">
              <div class="bg-light-pink level-bar-inner125"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">UX kutatás</span>
            <div class="bg-hawkes-blue level-bar-outer mt-4px">
              <div class="bg-light-pink level-bar-inner36"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">HTML, CSS</span>
            <div class="bg-hawkes-blue level-bar-outer mt-4px">
              <div class="bg-light-pink level-bar-inner125"></div>
            </div>
          </li>
          <li class="pbhalf">
            <span class="small-size">JavaScript, Node.js</span>
            <div class="bg-hawkes-blue level-bar-outer mt-4px">
              <div class="bg-light-pink level-bar-inner75"></div>
            </div>
          </li>
          <li class="mb2">
            <span class="small-size">Angol nyelv</span>
            <div class="bg-hawkes-blue level-bar-outer mt-4px">
              <div class="bg-light-pink level-bar-inner85"></div>
            </div>
          </li>
        </ul>
        <h2 class="small-size black uppercase bold-700">Eszközeim</h2>
        <h3 class="min-size san-juan mt0 mbhalf">design</h3>

        <table class="no-border app-logo-table mt0">
          <tr>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Figma">
              <img class="app-logo mrquarter" src="/assets/images/figma.jpg" alt="Figma">
            </td>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Axure RP 8">
              <img class="app-logo mrquarter" src="/assets/images/axure.jpg" alt="Axure RP 8">
            </td>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Adobe Photoshop">
              <img class="app-logo mrquarter" src="/assets/images/photoshop.jpg" alt="Adobe Photoshop CC2015">
            </td>
          </tr>
        </table>

        <h3 class="min-size san-juan mt0 mbhalf">frontend</h3>

        <table class="no-border app-logo-table mt0 mbhalf">
          <tr>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Visual Studio Code">
              <img class="app-logo mrquarter" src="/assets/images/vsc.jpg" alt="Visual Studio Code">
            </td>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Github">
              <img class="app-logo mrquarter" src="/assets/images/github.jpg" alt="Github">
            </td>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Netlify">
              <img class="app-logo" src="/assets/images/netlify.jpg" alt="Netlify platform">
            </td>
          </tr>
        </table>
        <table class="no-border mt0 mb2 app-logo-table">
          <tr>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Node.js">
              <img class="app-logo mrquarter" src="/assets/images/nodejs.jpg" alt="Node.js">
            </td>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="Bootstrap">
              <img class="app-logo mrquarter" src="/assets/images/bootstrap.jpg" alt="Bootstrap keretrendszer">
            </td>
            <td class="p0" data-toggle="tooltip" data-placement="bottom" title="jQuery">
              <img class="app-logo mrquarter" src="/assets/images/jQuery.jpg" alt="jQuery könyvtár">
            </td>
          </tr>
        </table>
        <div class="pr1">
          <h2 class="small-size black uppercase bold-700">UXstudio oklevél</h2>
          <img src="/assets/images/uxstudio_oklevel2.jpg" class="mt0 mb1" alt="UXstudio Oklevél">
        </div>
      </div>
    </div>
  </div>
</div>