<div class="m-mx-16px align-center">
  <a id="munka"></a>
  <h1 class="h2 mt3 m-mt2 mb0 pbhalf uppercase">Esettanulmányok</h1>
  <hr class="mx-auto small-hr mb1 m-mb0">
</div>

<% for (var i = 0, j = 0; i < worksDataForIndexPage.length; i++) { %>
<% if (worksDataForIndexPage[i].category === 'case study') { %>
<div class="row m0 mb3 m-mb1 p0">
  <% if (j % 2 === 0) { %>
  <div class="col-md-6 col-lg-6 p0 m0 align-self-center">
    <a href="<%= worksDataForIndexPage[i].pathToPost %>">
      <div class="zoom-animation d-none d-sm-none d-md-block">
        <img class="p0 m0" src="<%= worksDataForIndexPage[i].hexagonImage %>"
          alt="<%= worksDataForIndexPage[i].title %>">
      </div>
    </a>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-5 p0 m0 align-self-center m-clear-margin-left" style="margin-left: -51px">
    <article>
      <div class="mt1 bg-almost-white border-shadow border-light-blue border-radius-0-7 plhalf prhalf pbhalf mb1 m-mb0"
        style="min-height: 300px;">
        <h2 class="h3 sub-title mbhalf mthalf"><a class="invisible-link"
            href="<%= worksDataForIndexPage[i].pathToPost %>">
            <%= worksDataForIndexPage[i].title %></a>
          <% for (var j = 0; j < worksDataForIndexPage[i].type.length; j++) { %>
          <span class="sans-serif badge badge-secondary white min-size normal">
            <%= worksDataForIndexPage[i].type[j] %></span>
          <% } %>
        </h2>
        <p class="mb1 small-size d-none d-sm-none d-md-block">
          <%= worksDataForIndexPage[i].excerpt %>
        </p>
        <div class="d-xs-block d-sm-block d-md-none">
          <a href="<%= worksDataForIndexPage[i].pathToPost %>">
            <img class="p0 m0" src="<%= worksDataForIndexPage[i].thumbnail %>"
              alt="<%= worksDataForIndexPage[i].title %>">
          </a>
        </div>

        <div class="align-center">
          <a class="mx-auto d-none d-sm-none d-md-block project-link light-pink sans-serif uppercase no-underline min-size bold-700 expanded mb0"
            href="<%= worksDataForIndexPage[i].pathToPost %>" style="display: inline-block; padding-left: 6px;
                height: 44px; width: 162px; line-height: 48px">
            Megtekintés
          </a>
        </div>

      </div>
    </article>
  </div>
  <% } else { %>
  <div class="col-md-6 col-lg-6 col-xl-5  p0 m0 align-self-center" style="z-index: 9999;">
    <article>
      <div class="mt1 bg-almost-white border-shadow border-light-blue border-radius-0-7 plhalf prhalf pbhalf mb1 m-mb0"
        style="z-index: 9999; min-height: 300px;">
        <h2 class="h3 sub-title mbhalf mthalf"><a class="invisible-link"
            href="<%= worksDataForIndexPage[i].pathToPost %>">
            <%= worksDataForIndexPage[i].title %></a>
          <span class="sans-serif badge badge-secondary white min-size normal">
            <%= worksDataForIndexPage[i].type %></span>
        </h2>
        <p class="mb1 small-size d-none d-sm-none d-md-block">
          <%= worksDataForIndexPage[i].excerpt %>
        </p>
        <div class="d-sm-block d-md-none">
          <a href="<%= worksDataForIndexPage[i].pathToPost %>">
            <img class="p0 m0" src="<%= worksDataForIndexPage[i].thumbnail %>"
              alt="<%= worksDataForIndexPage[i].title %>">
          </a>
        </div>

        <div class="align-center">
          <a class="mx-auto d-none d-sm-none d-md-block project-link light-pink sans-serif uppercase no-underline min-size bold-700 expanded mb0"
            href="<%= worksDataForIndexPage[i].pathToPost %>" style="display: inline-block; padding-left: 6px;
                    height: 44px; width: 162px; line-height: 48px">
            Megtekintés
          </a>
        </div>

      </div>
    </article>
  </div>
  <div class="col-md-6 col-lg-6 p0 m0 align-self-center m-clear-margin-left" style="margin-left: -51px">
    <a href="<%= worksDataForIndexPage[i].pathToPost %>">
      <div class="zoom-animation d-none d-sm-none d-md-block">
        <img class="pl0 m0" src="<%= worksDataForIndexPage[i].hexagonImage %>"
          alt="<%= worksDataForIndexPage[i].title %>">
      </div>
    </a>
  </div>
  <% } %>
  <% j = j + 1; %>

</div>
<% } %>
<% } %>

<div class="bg-linear-blue pb1 m-pb0 m-mt2">
  <div class="row mx-responsive m0 p0 align-center">
    <div class="col-12 p0">
      <div class="m-mx-16px align-center">
        <h1 class="h2 mt3 m-mt2 mb0 pbhalf uppercase">Mini projektek</h1>
        <hr class="mx-auto small-hr mb2 m-mb1">
      </div>
    </div>
  </div>

  <div class="row mx-responsive m0 p0 mt0">
    <div class="col-lg-12 p0 mb1">
      <% for (var i = 0, j = 0; i < worksDataForIndexPage.length; i++) { %>
      <% if (worksDataForIndexPage[i].category === 'mini project') { %>
      <article>
        <div class="row m0 p0 mb1 bg-white-transparent50 border-shadow">

          <div class="col-3 col-sm-4 col-md-4 col-lg-4 col-xl-4 p0">
            <a href="<%= worksDataForIndexPage[i].pathToPost %>">
              <div class="zoom-animation">
                <img class="pl0 m0 m-mt-15px" src="<%= worksDataForIndexPage[i].thumbnail %>"
                  alt="<%= worksDataForIndexPage[i].title %>">
              </div>
            </a>
          </div>
          <div class="col-9 col-sm-8 col-md-8 col-lg-8 col-xl-6 plhalf">
            <h2 class="mb0 mthalf h4" style="line-height: 1.2"><a aria-label="<%= worksDataForIndexPage[i].title %>"
                class="pthalf pbhalf sans-serif no-underline bold-700 mb0"
                href="<%= worksDataForIndexPage[i].pathToPost %>">
                <%= worksDataForIndexPage[i].title %>
              </a></h2>
            <p class="m0 p0 small-size">
              <%= worksDataForIndexPage[i].excerpt %>
            </p>
            <span class="gray-3 mb0 pb0 min-size sans-serif">
              <%= worksDataForIndexPage[i].type %></span>
          </div>
        </div>
      </article>
      <% } %>
      <% } %>
    </div>
  </div>
</div>