<div class="m-mx-18px align-center">
  <a id="work"></a>
  <h1 class="h2 mt3 mb0 pbhalf uppercase">Case Studies</h1>
  <hr class="mx-auto small-hr mb1">
</div>

<% for (var i = 0, j = 0; i < worksDataForIndexPage.length; i++) { %>
<% if (worksDataForIndexPage[i].category === 'case study') { %>
<div class="row m0 mb3 m-mb1 p0">
  <% if (j % 2 === 0) { %>
  <div class="col-md-6 col-lg-6 p0 m0 align-self-center">
    <a href="<%= worksDataForIndexPage[i].pathToPost %>">
      <div class="zoom-animation d-none d-sm-none d-md-block">
        <img class="p0 m0" src="<%= worksDataForIndexPage[i].hexagonImage %>"
          alt="<%= worksDataForIndexPage[i].title %>">
      </div>
    </a>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-5 p0 m0 align-self-center m-clear-margin-left" style="margin-left: -51px">
    <article>
      <div class="mt1 bg-almost-white border-shadow border-light-blue border-radius-0-7 plhalf prhalf pbhalf mb1"
        style="min-height: 300px;">
        <h2 class="h3 sub-title mbhalf mthalf">
          <%= worksDataForIndexPage[i].title %>
          <% if (worksDataForIndexPage[i].type === 'website') { %>
          <span class="badge badge-secondary white min-size normal">honlap</span>
          <% } else if (worksDataForIndexPage[i].type === 'webapp') { %>
          <span class="badge badge-secondary white min-size normal">webapp</span>
          <% } else if (worksDataForIndexPage[i].type === 'dashboard') { %>
          <span class="badge badge-secondary white min-size normal">vezérlőpult</span>
          <% } else if (worksDataForIndexPage[i].type === 'businesscard') { %>
          <span class="badge badge-secondary white min-size normal">névjegykártya</span>
          <% } else if (worksDataForIndexPage[i].type === 'drawing') { %>
          <span class="badge badge-secondary white min-size normal">rajz</span>
          <% } else { %>
          <span class="badge badge-secondary white min-size normal">
            <%= worksDataForIndexPage[i].type %></span>
          <% } %>
        </h2>
        <p class="mb1 small-size d-none d-sm-none d-md-block">
          <%= worksDataForIndexPage[i].excerpt %>
        </p>
        <div class="d-xs-block d-sm-block d-md-none">
          <img class="p0 m0" src="<%= worksDataForIndexPage[i].thumbnail %>"
            alt="<%= worksDataForIndexPage[i].title %>">
        </div>

        <div class="align-center">
          <a class="mx-auto d-none d-sm-none d-md-block project-link light-pink sans-serif uppercase no-underline min-size bold-700 expanded mb0"
            href="<%= worksDataForIndexPage[i].pathToPost %>" style="display: inline-block; padding-left: 6px;
                height: 44px; width: 162px; line-height: 48px">
            View project
          </a>
        </div>

      </div>
    </article>
  </div>
  <% } else { %>
  <div class="col-md-6 col-lg-6 col-xl-5  p0 m0 align-self-center"
    style="z-index: 9999;">
    <article>
      <div class="mt1 bg-almost-white border-shadow border-light-blue border-radius-0-7 plhalf prhalf pbhalf mb1"
        style="z-index: 9999; min-height: 300px;">
        <h2 class="h3 sub-title mbhalf mthalf">
          <%= worksDataForIndexPage[i].title %>
          <% if (worksDataForIndexPage[i].type === 'website') { %>
          <span class="badge badge-secondary white min-size normal">honlap</span>
          <% } else if (worksDataForIndexPage[i].type === 'webapp') { %>
          <span class="badge badge-secondary white min-size normal">webapp</span>
          <% } else if (worksDataForIndexPage[i].type === 'dashboard') { %>
          <span class="badge badge-secondary white min-size normal">vezérlőpult</span>
          <% } else if (worksDataForIndexPage[i].type === 'businesscard') { %>
          <span class="badge badge-secondary white min-size normal">névjegykártya</span>
          <% } else if (worksDataForIndexPage[i].type === 'drawing') { %>
          <span class="badge badge-secondary white min-size normal">rajz</span>
          <% } else { %>
          <span class="badge badge-secondary white min-size normal">
            <%= worksDataForIndexPage[i].type %></span>
          <% } %>
        </h2>
        <p class="mb1 small-size d-none d-sm-none d-md-block">
          <%= worksDataForIndexPage[i].excerpt %>
        </p>
        <div class="d-sm-block d-md-none">
            <img class="p0 m0" src="<%= worksDataForIndexPage[i].thumbnail %>"
              alt="<%= worksDataForIndexPage[i].title %>">
          </div>

        <div class="align-center">
          <a class="mx-auto d-none d-sm-none d-md-block project-link light-pink sans-serif uppercase no-underline min-size bold-700 expanded mb0"
            href="<%= worksDataForIndexPage[i].pathToPost %>" style="display: inline-block; padding-left: 6px;
                    height: 44px; width: 162px; line-height: 48px">
            View project
          </a>
        </div>

      </div>
    </article>
  </div>
  <div class="col-md-6 col-lg-6 p0 m0 align-self-center m-clear-margin-left" style="margin-left: -51px">
    <a href="<%= worksDataForIndexPage[i].pathToPost %>">
      <div class="zoom-animation d-none d-sm-none d-md-block">
        <img class="pl0 m0" src="<%= worksDataForIndexPage[i].hexagonImage %>"
          alt="<%= worksDataForIndexPage[i].title %>">
      </div>
    </a>
  </div>
  <% } %>
  <% j = j + 1; %>

</div>
<% } %>
<% } %>

<div class="bg-linear-blue pb2">
  <div class="row mx-responsive m0 p0 align-center">
    <div class="col-12 p0">
      <div class="m-mx-18px align-center">
        <h1 class="h2 mt3 mb0 pbhalf uppercase">Mini Projects</h1>
        <hr class="mx-auto small-hr mb2">
      </div>
    </div>
  </div>

  <div class="row mx-responsive m0 p0 mt0">
    <% for (var i = 0, j = 0; i < worksDataForIndexPage.length; i++) { %>
    <% if (worksDataForIndexPage[i].category === 'mini project') { %>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 p0 mb1 d-none d-sm-none d-md-block">
      <div class="flip-card border-shadow">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img class="pl0 m0" src="<%= worksDataForIndexPage[i].thumbnail %>"
              alt="<%= worksDataForIndexPage[i].title %>">
          </div>
          <div class="flip-card-back align-center">
            <h2 class="mb0 mt1 small-size" style="line-height: 1.2"><a aria-label="<%= worksDataForIndexPage[i].title %>"
                class="pthalf pbhalf white-link sans-serif no-underline bold-700 mb0"
                href="<%= worksDataForIndexPage[i].pathToPost %>">
                <%= worksDataForIndexPage[i].title %>
              </a></h2>
            <p class="m0 p0 sans-serif">
              <% if (worksDataForIndexPage[i].type === 'website') { %>
              <span class="badge badge-secondary white min-size normal">honlap</span>
              <% } else if (worksDataForIndexPage[i].type === 'webapp') { %>
              <span class="badge badge-secondary white min-size normal">webapp</span>
              <% } else if (worksDataForIndexPage[i].type === 'dashboard') { %>
              <span class="badge badge-secondary white min-size normal">vezérlőpult</span>
              <% } else if (worksDataForIndexPage[i].type === 'businesscard') { %>
              <span class="badge badge-secondary white min-size normal">névjegykártya</span>
              <% } else if (worksDataForIndexPage[i].type === 'drawing') { %>
              <span class="badge badge-secondary white min-size normal">rajz</span>
              <% } else { %>
              <span class="badge badge-secondary white min-size normal">
                <%= worksDataForIndexPage[i].type %></span>
              <% } %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <% } %>
    <% } %>
  </div>






  <div class="row m0 p0">
    <% for (var i = 0, count = 0; i < worksDataForIndexPage.length; i++) { %>
    <% if (worksDataForIndexPage[i].category === 'mini project') { %>
    <div class="col-xs-12 col-sm-12 col-md-12 p0 m0 d-sm-block d-md-none">
      <article>
        <div class="bg-light-gray border-shadow border-gray-4 phalf mrhalf mlhalf mb1 m-mx-0">
          <h2 class="h3 sub-title mbhalf mt0"><a href="<%= worksDataForIndexPage[i].pathToPost %>">
              <%= worksDataForIndexPage[i].title %></a>
            <span class="badge badge-secondary white min-size normal">webapp</span>
          </h2>
          <!--<p class="mbhalf">
              <%= worksDataForIndexPage[i].excerpt %>
            </p>-->
          <a href="<%= worksDataForIndexPage[i].pathToPost %>">
            <img class="pl0 m0 thumbnail-img" src="<%= worksDataForIndexPage[i].thumbnail %>"
              alt="<%= worksDataForIndexPage[i].title %>">
          </a>
        </div>
      </article>
    </div>
    <% } %>
    <% } %>
  </div>