<div class="row m0 p0">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 p0 m-mx-16px">
    <h1 class="mt3 mb0">Gulácsi András</h1>
    <hr>
    <p>Sikeres UI/UX/webdesignernek tanulok, végzettségemet tekintve környezettudós vagyok. A szabadidőmben kizomba
      táncosként/instruktorként tevékenykedem.</p>
  </div>
</div>

<div class="row mx-auto m0 p0">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 p0 pr1 m-mx-16px">
    <img class="profile-img m0 m-mt1 float-left" src="/assets/images/profile.png" alt="Profilkép">
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-6 p0 m-mx-16px">
    <p>Amikor egyetemre mentem, azt gondoltam naívan, hogy vár rám ott
      valamilyen jövő, de tévedtem. Óriási hiba volt, amit azóta próbálok kijavítani. Jelenleg PhD hallgató vagyok
      kényszerből. A segítségedet szeretném kérni, hogy végre válthassak!</p>
  </div>
</div>

<div class="row mx-auto m0 p0">
  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-6 p0 m-mx-16px">
    <h2>A webes életutam</h2>
    <p>2016. január elején elkezdtem frontend fejlesztést tanulni magamtól. Elsőnek HTML-t, CSS-t, majd
      JavaScript-et tanultam. Később jQuery-t és a Bootstrap 3-4-et is hozzávettem. Korábbról volt egy kis tapasztalatom
      a C nyelvvel is, amit műholdas adatok automatizált
      feldolgozása során használtam néhány batch szkripten felül. Szintén rendelkezem SQL adatbázis alapokkal.</p>
    <p>Ezután következett a Node.js. A statikus oldalgenerátoromat, amivel ezt a honlapot is készítem, a Node-ban írtam
      meg. Az oldalamat a Netlify felhőplatform szolgáltatja. Nem kétséges, nagy rajongója vagyok a JAMstack-nak
      (JavaScript, API-k és Markdown). Ezen felül rendelkezem némi alapvető Angular 2 tudással.</p>
    <p>Sok tapasztalatot gyűjtöttem a <a href="https://developers.google.com/earth-engine/" rel="noreferrer noopener"
        target="_blank">Google Earth Engine</a> műholdas adatok feldolgozására és környezeti monitoringra
      használatos felhőplatform JavaScript és most már Python API-jának használatában a PhD hallgatóként végzett munkám
      során.</p>
    <p>2018 elején lépett be az életembe a felhasználói élmény / felhasználói felületek tervezése. 2018 őszén sikeresen
      elvégeztem az UXstudio Digital Product Design kurzusát Budapesten. <a
        href="https://uifactory.design/2019/08/31/uxstudio-product-design-kurzus-2018.html">Élménybeszámoló.</a> Főként
      az Udemy kurzusaiból tanulok.</p>
    <p>Azóta egy minőségi portfólió oldal felépítésén munkálkodom. Most néhány valós projekten dolgozom, amiket végig
      szeretnék vinni a teljes tervezési folyamaton, bemutatva ezáltal a gondolkodásomat és munkamenetemet.</p>
    <p>Itt állok most 2020 előtt. Szükségem van a segítségedre, hogy részese lehessek olyan vállalkozásoknak, ahol kibontakozhatok és
      hozzájárulhatok jól használható, a felhasználók számára értéket jelentő és nyereséges digitális termékek
      tervezéséhez.</p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-4 p0 pl1">
    <div class="m-mx-16px bg-almost-white phalf mt1">
      <h2 class="h3 mt0">Hasznos <span class="badge badge-secondary white min-size normal">új</span></h2>
      <ul class="no-bullets mb2">
        <li class="mbhalf"><a href="/hasznos-linkek.html" class="small-size black-link">UI design anyagok és
            eszközök</a></li>
        <li><a href="/design-cikkek-a-vilagbol.html" class="small-size black-link">Design cikkek a világból</a> <span class="badge badge-secondary white min-size normal">új</span></li>
      </ul>
      <h2 class="h3 mt0 mb1">UIfactory Blog</h2>
      <div class="mb2">
        <% for (var i = 0; i < blogArchive.length; i++) { %>
        <h3 class="h4 mt0 mbhalf medium-orange expanded">
          <%= blogArchive[i].year %>
        </h3>
        <ul class="no-bullets mb0">
          <% if (blogArchive[i].months.dec) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">december</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].dec) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].dec.link %>">
                  <%= blogArchive[i].articles[j].dec.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>
          <% if (blogArchive[i].months.nov) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">november</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].nov) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].nov.link %>">
                  <%= blogArchive[i].articles[j].nov.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.oct) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">október</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].oct) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].oct.link %>">
                  <%= blogArchive[i].articles[j].oct.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.sep) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">szeptember</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].sep) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].sep.link %>">
                  <%= blogArchive[i].articles[j].sep.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.aug) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">augusztus</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].aug) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].aug.link %>">
                  <%= blogArchive[i].articles[j].aug.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.jul) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">július</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].jul) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].jul.link %>">
                  <%= blogArchive[i].articles[j].jul.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.jun) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">június</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].jun) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].jun.link %>">
                  <%= blogArchive[i].articles[j].jun.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.may) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">május</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].may) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].may.link %>">
                  <%= blogArchive[i].articles[j].may.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.apr) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">április</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].apr) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].apr.link %>">
                  <%= blogArchive[i].articles[j].apr.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.mar) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">március</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].mar) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].mar.link %>">
                  <%= blogArchive[i].articles[j].mar.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.feb) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">február</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].feb) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].feb.link %>">
                  <%= blogArchive[i].articles[j].feb.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>

          <% if (blogArchive[i].months.jan) { %>
          <li>
            <h4 class="min-size mt1 mb0 medium-gray normal">január</h4>
            <ul class="no-bullets mthalf mb2">
              <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
              <% if (blogArchive[i].articles[j].jan) { %>
              <li class="mbhalf">
                <a class="small-size black-link" href="<%= blogArchive[i].articles[j].jan.link %>">
                  <%= blogArchive[i].articles[j].jan.title %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>