<!DOCTYPE html>
<html lang="hu">
<%- include partials/head-design %>

<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v4.0&appId=713043262398979&autoLogAppEvents=1"></script>
  <%- include partials/header-design %>
  <main class="ml0 mr0">
    <div class="container-fluid p0 m0">
      <div class="row mx-responsive">
        <div class="lg-offset-1 xl-offset-1 col-xs-12 col-sm-12 col-md-12 col-lg-10 lg-offset-1 col-xl-10 mt0 mb2 p0">
          <%- include partials/design-item-title %>
          <%- body %>
          <%- include partials/go-back-button %>
          <%- include partials/facebook %>
        </div>
      </div>
    </div>
  </main>
  <%- include partials/footer-default %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
</body>

</html>