<!DOCTYPE html>
<html lang="hu">
<%- include partials/head %>

<body>
  <header>
    <div class="bg-light-honeycombs">
      <div class="container-fluid p0 m0">
        <div class="row mx-responsive p0 navbar-height">
          <%- include partials/header %>
        </div>
        <div class="row mx-responsive p0 m0">
          <div class="col-12 m0 p0">
            <%- include partials/intro %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <%- include partials/skills %>
  <main class="ml0 mr0">
    <div class="bg-paper-texture-tile">
      <div class="container-fluid p0 m0">
        <div class="row mx0 p0 m0">
          <div class="col-12 m0 p0">
            <%- body %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
  <script src="/assets/js/identity.js"></script>
</body>

</html>